.container {
  text-align: center;
  font-family: "-apple-system",BlinkMacSystemFont,"-webkit-system-font","Malgun Gothic","Segoe UI","Helvetica Neue",Helvetica,sans-serif;
    font-synthesis: none;
    font-feature-settings: 'kern';
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(0,0,0,.95);
}

.my-list{
  display:none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.center-btn{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
}

.tv-btn {
  display: block;
  margin-left:25px;
  width:300px;
  background-color:rgba(0,0,0,.68);
  color: rgba(255,255,255,.9);
  border: 2px solid transparent;
  border-radius: 2px;
  font-family: inherit;
  border: none;
  padding: 0 16px;
  text-align: center;
  vertical-align: middle;
  height: 48px;
  margin-bottom: 12px;
  cursor:pointer;
  font-weight: 500;
  font-size:1rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.tv-img {
  background-color: black;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius:8px;
  position: absolute;
  z-index: 1;
  display: block;
width:300px;
height: auto;
margin:25px;
}
.tv-img:hover{
  cursor:pointer;

}

.card {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index:1;
  position: absolute;

}
.card-title{
  text-transform: capitalize;
  color: rgba(255,255,255,.9);
  font-weight: 500;
  font-size:32px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  border-radius: 8px;
  text-align: center;
  position: relative;
  z-index: 2;
  background-color: rgba(0,0,0,.68);
  padding-top: 100px;
  padding-bottom: 288px;
width:300px;
height:auto;
 display: block;
 margin:25px;
}
ol {
  list-style: none;
  text-decoration: none;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.card-body{
  margin:25px;
}
.title {
  text-align: left;
}

.heading {
  text-align: left;
  padding: 0.625rem;
  font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.23;
}

.title-list{
  text-align:left;
  text-transform:capitalize;
  text-decoration:none;
  list-style:none;
}
.title-list-item{
  font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #86868b;
}
.card{
  cursor:pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
